*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;

   

}
.navbar-brand {
   font-family: 'Orbitron', sans-serif;
   color: gainsboro;

   font-weight: bolder;
   text-decoration: none;
   font-size: 50px;
   transition: all .3 all;

}
*{
}
.cont-A{
   display: flex;
   flex-direction: column;
   column-gap: 15px;
}

.fa-solid {color: red;}

a.navbar-brand {
   transition: all .3s all;

}
.fa-brands {
  
   color: green;
   
}
 .fa-envelope{
   color: white;
}

a.navbar-brand:hover {
   color: #FCE152;

}

svg#first-logo {
   fill: #FCE152;
}

.nav .nb1 li{
   background-color: black;
   color:gainsboro
}

.text p {
   text-shadow: #FCE152;
}

.contact{
   position: relative;
   min-height: 100vh;
   padding: 50px 100px;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   background-image: url(../Imgs/Project\ 1.jpg);
   background-size: cover;
   background-position: center;
   
   background-size: cover;
}
.content{
   max-width: 800px;
   text-align: center;

}
.content h2{
   font-size: 36px;
   font-weight: 500;
   color:#FCE152;
}
.content p{
   font-weight: 300;
   color: #fff;
}
.container{
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 30px;

}
.contactinfo{
   width: 50%;
   display: flex;
   flex-direction: column;
}
.contactinfo .box{
   position: relative;
   padding: 20px 0 ;
   display: flex;
    
}

.contactinfo .box .icon{
   color:gainsboro;
   min-width: 60px;
   background-color: #494949;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 50%;
   font-size: 22px;


}
.m-upper-section a svg{
   background-color:#1D1D1D ;
 }
.contactinfo .box .text{
   display: flex;
   margin-left: 20px;
   font-size: 16px;
   color: #fff;
   flex-direction: column;
   font-weight: 300;
   b

}


.contactinfo .box .text h3{
   font-weight: 500;
   color:#FCE152;


}
.contactinfo .box .text p{
   order: none;
  
   border-radius: 50px;
   background-color: #494949;

}
 .contactform{
   width: 40%;
   padding: 40px;
   background: #fff;

}
.contactform h2{
   font-size: 30px;
   color: #333;
   font-weight: 500;

}
.contactform .inputBox{
   position: relative;
   width: 100%;
   margin-top: 10px;
}
.contactform .inputBox input,.contactform .inputBox textarea{
   width: 100%;
   padding: 5px 0;
   font-size: 16px;
   margin:10px 0  ;
   border: none;
   border-bottom:2px solid #333  ;
   outline: none;
   resize: none;

}

.contactform .inputBox span{
   position: absolute;
   left: 0;
   font-size: 16px;
   margin:10px 0  ;
   border: none;
   transition: 0.5s ;
   color: #666;
    

} 


.contactform .inputBox input:focus ~ span,
.contactform .inputBox input:valid ~ span,
.contactform .inputBox textarea:focus ~ span,
.contactform .inputBox textarea:valid ~ span{
   color: red ;
   font-size: 12px;
   transform: translateY(-20px );
}
.contactform .inputBox input[type="Submit"]{
   width: 100px;
   background-color: darkgreen;
   color: gainsboro;
   border: none;
   cursor: pointer;

   font-size: 18px;
}




@media(max-width:930px){
   .container{
      display: grid;
      grid-template-rows: auto auto;

   }
   .contactform{
      width: 100%;
   }
   .main-menu{
      position: relative;
   }
   
}
@media screen and (max-width:390px){
   .container-fluid{
      display: grid;
      grid-template-rows: repeat(4, 1fr) ;
   }

}
@media(max-width:380px){
  .box{
   display: flex;
   flex-direction: column;
   justify-content: center;
   text-align: center;
   align-items: center;
  }
}


.mix{
   display: flex;
   flex-direction: row;
   justify-content: right;
   padding-top: 10px;
   border: 1px solid #FCE152 ;
   width: 100%;
   background-color: #1D1D1D;
}

.mix p{
   color: #FCE152;
}
























